* {
  box-sizing: border-box;
  margin: 1px;
  padding: 0;
}
  li {
    list-style: none;
  }

  .body{
    display: grid;
    justify-items: center;
    gap: 2rem;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  /* header */
  .header {
    position: relative;
    /* display: grid; */
    grid-template-columns: auto 1fr;
    align-items: center;
    /* height: 100px; */
  }
  
  .header__logo {
    margin: 0 1rem;
    font-size: 3.5rem;
  }
  
  .header::after {
    display: block;
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 80%;
    justify-self: center;
    content: "";
    border-bottom: 2px solid var(--border-colour);
  }
  
  .header__nav {
    margin-left: 3rem;
  }
  
  .header__nav li {
    display: inline-block;
    margin-left: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }
  
  .header__nav li:hover {
    text-decoration: underline;
  }

  
a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: initial;
}

/* MainSection */

div.container {
  display: grid;
}

div.container h1 {
    text-align: center;
}

div.main {
    height: 10rem;
    /* width: 100%; */
    margin-bottom: 3rem;
    font-size: 16px;
}

div.image {
    width: 10rem;
    height: 100%;
    float: left;
    margin-right: 2rem;
}

div.image img {
    /* height: 100%; */
}

div.header {
    font-size: 24px;
}

i.fa {
    margin-right: 15px;
}

img.avatar {
  display: grid;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-left: 5px;
}


.product-item {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-row-gap: 2rem;
  height: 100%;
  padding: 2rem;
  place-items: center;
  background-color: var(--white);
  border: 1px solid var(--grey);
}

.product-item h3 {
  font-weight: 400;
}



/* Product Detail */
.product-detail {
  display: grid;
  margin: 0 auto;
  column-gap: 2rem;
  grid-template-columns: 4fr 6fr;
  padding: 2rem;
  height: 100%;
}

.product-detail > img {
  align-self: center;
}

.product-detail__side {
  position: relative;
  display: grid;
  grid-template-rows: 20% auto;
  align-content: start;
  padding-left: 1rem;
  border-left: 2px solid;
}

.product-detail__side h3 {
  align-self: start;
}

.product-detail__side h2 {
  margin: 1rem 0;
}

.product-detail__side p {
  max-width: 50%;
  max-height: 150ch;
  margin-top: 1rem;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

.product-detail__side button {
  max-width: 33%;
  padding: 1rem;
  border: 2px solid var(--black);
  justify-self: end;
  margin-top: 5rem;
}

.product-detail__side button:hover {
  background-color: var(--blue);
  color: var(--white);
}


/* Modal */

.modal-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.185);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 15;
  display: grid;
  place-content: center;
}

.modal {
  background-color: white;
  color: black;
  padding: 1rem;
  display: grid;
  position: relative;
  place-items: center;
}

.new-user {
  display: grid;
  gap: 5px;
}

.new-user input {
  border: 1px solid black;
  display: grid;
  place-items: center;
}

.new-user button {
  background-color: #009688;
  display: grid;
  place-self: center;
  color: white;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  font-weight: 500;
}

.close-modal {
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: #007a6f;
  border-radius: 50%;
  color: white;
  width: 35px;
  height: 35px;
  display: grid;
  place-content: center;
}